@import 'materialize';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* GLOBAL */
* {
  border-radius: 0 !important;
}


ul.nav li a, ul.nav li a:visited {
    // color: #FF9375 !important;
}

ul.nav li a:hover, ul.nav li a:active {
    // color: #FF9375 !important;
}

ul.nav li.active a {
    // color: #FF9375 !important;
}

body {

}

.logo {
  margin: 0 auto;
}

.logo img {
  width: 60%;
}

.weeds {
  margin: 30px;
}

#logo {
  width: 200px;
}

#body {

}

.table-responsive {

	cursor: pointer;
}

/* SEARCH FORM */

.search-form {
  display: flex;
  align-content: center;
}

.box {
	width: 300px;
	height: 300px;
	color: #B19CD9;
	margin: 0 30px 70px 30px;
}

#map {
   width: 50%;
   height: 400px;
   background-color: grey;
 }

/* Species */



/* JUMBOTRON */

// .jumbotron {
//   background-image: url("mj.png");
//   width: 100%;
//   height: 800px;
// }


/* HEADER */



/* FOOTER */

footer {
  margin-top: 45px;
  padding-top: 5px;


}

footer a {

}

footer a:hover {

}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
